@model Cinema_Project.ViewModels.CombinedMovieViewModel
@{
    ViewData["Title"] = "Скоро в кіно";
    int movieCount = 0;
    var movies = Model.Movies.Take(10).ToList();
}

<link rel="stylesheet" href="~/css/header-style.css">
<link rel="stylesheet" href="~/css/search-style.css">
<link rel="stylesheet" href="~/css/index-style.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

<div class="search-caption">НАЙБЛИЖЧІ <span style="color:red; filter: drop-shadow(0px 0px 10px red);">ПРЕМ'ЄРИ</span></div>
<div class="search-container container">
    <div class="properties-container">
        <div class="properties-elem ticket-element">
            <div class="properties-top left ticket-top">
                <div class="property-img"><img src="~/img/title-sort.svg"></div>
                <div class="property-text">Сортувати за: <u>Назвою</u></div>
                <div class="property-svg ticket-svg"><img src="~/img/droplist-ico.svg"></div>
            </div>
            <div class="properties-droplist ticket-droplist">
                <div class="properties-droplist-elem elem-active" data-sort="title">Title</div> <!-- Сортировка по названию фильма -->
                <div class="line"></div>
                <div class="properties-droplist-elem" data-sort="popularity">Popularity</div> <!-- Сортировка по рейтингу фильма -->

            </div>
        </div>
        <div class="line-v"></div>
        @* <div class="properties-elem ticket-element">
        <div class="properties-top side-border ticket-top">
        <div class="property-img"><img src="~/img/order-sort.svg"></div>
        <div class="property-text">Order: <u>Descending</u></div>
        <div class="property-svg ticket-svg"><img src="~/img/droplist-ico.svg"></div>
        </div>
        <div class="properties-droplist ticket-droplist">
        <div class="properties-droplist-elem d-flex">
        <img src="~/img/order-sort.svg" style="transform: rotate(180deg);">
        Ascending <!-- Сортування за зростанням-->
        </div>
        <div class="line"></div>
        <div class="properties-droplist-elem d-flex elem-active">
        <img src="~/img/order-sort.svg">
        Descending <!-- Сортування за спаданням-->
        </div>
        </div>
        </div> *@
        <div class="properties-elem flex-grow-1 ticket-element">
            <div class="properties-top right ticket-top">
                <div class="property-text" id="genres">Жанри: <u>Action, Drama</u></div> <!-- Список вибраних жанрів-->
                <div class="property-svg ticket-svg"><img src="~/img/droplist-ico.svg"></div>
            </div>
            <div class="properties-droplist ticket-droplist">
                <div class="properties-check-container">
                    <!-- Список жанрів-->
                    @foreach (var genre in Model.Genres)
                    {
                        <div class="properties-droplist-check">
                            <input type="checkbox" id="@genre.Title">
                            <label for="@genre.Title"><span></span>@genre.Title</label>
                        </div>
                    }
                    <!-- Список жанрів-->
                </div>
            </div>
        </div>
    </div>
    <div class="FilmContainer">
        <div class="films-row">
            @for (int i = 0; i < Model.Movies.Count; i++)
            {
                var movie = Model.Movies[i];
                var genres = string.Join(",", movie.MovieGenres.Select(mg => mg.Genre.Title));
                <div class="film-search-elem" data-genres="@genres" data-rating="@movie.Rating" style="background-image: url('@Url.Content("~/img_posters/" + movie.Title + "/" + movie.Title + "_SP.jpg")');">
                    <!-- Постер фильма-->
                    <div class="search-info-container">
                        <div class="film-elem-name">
                            @{
                                var title = Model.Movies[i].Title;
                                var rating = Model.Movies[i].Rating;
                                var maxTitleLength = 20;

                                if (title.Length > maxTitleLength)
                                {
                                    var lastSpaceIndex = title.LastIndexOf(" ", maxTitleLength);
                                    if (lastSpaceIndex != -1)
                                    {
                                        title = title.Substring(0, lastSpaceIndex) + "...";
                                    }
                                    else
                                    {
                                        title = title.Substring(0, maxTitleLength) + "...";
                                    }
                                }
                            }
                            @title
                        </div> <!-- Назва фільму -->
                        <div class="film-elem-description">
                            @{
                                var description = movie.Description;
                                var maxLength = 150;

                                if (description.Length > maxLength)
                                {
                                    var lastSpaceIndex = description.LastIndexOf(" ", maxLength);
                                    if (lastSpaceIndex != -1)
                                    {
                                        description = description.Substring(0, lastSpaceIndex) + "...";
                                    }
                                    else
                                    {
                                        description = description.Substring(0, maxLength) + "...";
                                    }
                                }
                            }
                            @description
                        </div> <!-- Опис фільму -->
                        <div class="film-trailer-button film-trailer-button-search activate-modal">
                            <p>Трейлер</p>
                        </div>
                        <button class="film-buy-tickets film-buy-tickets-search">
                            <a class="a-buy-tickets" asp-area="" asp-controller="Booking" asp-action="BookingView">Придбати квиток</a>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>






<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <video id="videoPlayer" width="100%" height="65%" controls>
        <source src="/img/trailer.mp4" type="video/mp4">
    </video>
    <div class="text-block container">
        <div class="modal-info-container d-flex">
            <div class="modal-film-info">
                <div class="film-name side-elem">URI: The Cock And Balls Removal</div>
                <div class="film-elem side-elem"><b>Categories: </b>Action, Drama, History</div>
                <div class="film-elem side-elem"><b>Year: </b>2019</div>
                <div class="film-elem side-elem"><b>Duration:</b> 2h 18m</div>
                <div class="film-elem side-elem"><b>Stars:</b> Vicky Kaushal, Paresh Rawal, Mohit Raina</div>
                <div class="film-elem side-elem">
                    <b>Description:</b>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Ut provident, natus sunt, explicabo iure cum ea odio ex quis
                    tenetur vero in sint earum, inventore voluptatibus aliquam hic deserunt quidem?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolore velit ex, rerum
                    culpa amet. Dignissimos labore obcaecati asperiores optio est, consequatur non rem
                    exercitationem ipsam quasi fuga voluptate iure.
                </div>
            </div>
            <div class="modal-film-side">
                <div class="film-rating">9,9</div>
                <img src="~/img/poster-sm.png">
                <input type="button" class="film-buy-tickets film-buy-tickets-modal" value="Buy tickets">
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


<script src="~/js/seach-button.js"></script>
<script src="~/js/trailer-modal.js"></script>
<script src="~/js/ticket-dropdown.js"></script>
<script src="~/js/properties-choose.js"></script>
<script src="~/js/genres-list.js"></script>
