@model Cinema_Project.ViewModels.CombinedMovieViewModel
@{
    ViewData["Title"] = "Головна";
}
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet"
      crossorigin="anonymous">
<link rel="stylesheet" href="~/css/header-style.css">
<link rel="stylesheet" href="~/css/index-style.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />


<h1 class="slider-caption" style="margin-bottom: -30px;">
    <b>
        АКТУАЛЬНЕ <span style="color:red; filter: drop-shadow(0px 0px 10px red);">ЗАРАЗ</span>
    </b>
</h1>
<div class="slider-container-2">
    <div class="swiffy-slider slider-item-show2-sm slider-item-reveal slider-item-ratio
             slider-item-nogap slider-item-nosnap-touch slider-nav-arrow slider-nav-visible
             slider-nav-autohide slider-nav-page slider-indicators-round slider-indicators-outside slider-nav-animation slider-nav-animation-scale"
         data-slider-nav-autoplay-interval="5000">
        <ul class="slider-container">
            @foreach (var movie in Model.Movies.Take(10))
            {
                int genreCount = movie.MovieGenres.Count;
                int currentGenreIndex = 0;
                int actorCount = movie.MovieActors.Count;
                int currentActorIndex = 0;
                <li class="slide-invisible slide-visible">

                    @* <div class="single-slide" id="@movie.MovieId" style="background-image: url('@Url.Content("~/img/" + movie.Title + ".jpg")');"> *@
                    <div class="single-slide" id="@movie.MovieId" style="background-image: url('https://lh3.googleusercontent.com/proxy/mXDKyHfl4D7SEtn8DwfIgW37HrFeHq99rsr_EoY4QHKj5zxT1qPryEaEUKlHCNTT78J9ucV_DDjHa1mk3Pp6kURnTpYSDxjnF_N_gUKJVAWA27E');">
                        <div class="film-info-container">
                            <div class="film-rating">@movie.Rating</div>
                            <div class="film-name">@movie.Title</div>
                            <div class="film-elem">
                                <b>Жанр: </b>
                                @foreach (var genre in movie.MovieGenres)
                                {
                                    currentGenreIndex++;
                                    <span>@genre.Genre.Title</span>@if (currentGenreIndex < genreCount){<span>,</span>}
                                }
                            </div>
                            <div class="film-elem"><b>Дата виходу: </b>@movie.ReleaseDate.ToLocalTime().ToString("dd.MM.yyyy")</div>
                            <div class="film-elem"><b>Тривалість: </b>@($"{movie.Duration / 60}:{(movie.Duration % 60):D2}")</div>
                            <div class="film-elem">
                                <b>У головних ролях:</b>
                                @foreach (var actor in movie.MovieActors)
                                {
                                    currentActorIndex++;
                                    <span>@actor.Actor.FirstName</span>
                                    <span>@actor.Actor.LastName</span>@if (currentActorIndex < actorCount){<span>,</span>}
                                }

                            </div>
                            <div class="film-elem">
                                <b>Опис: </b>
                                @{
                                    var description = @movie.Description;
                                    var maxLength = 250;

                                    if (description.Length > maxLength)
                                    {
                                        var lastSpaceIndex = description.LastIndexOf(" ", maxLength);
                                        if (lastSpaceIndex != -1)
                                        {
                                            description = description.Substring(0, lastSpaceIndex) + "...";
                                        }
                                        else
                                        {
                                            description = description.Substring(0, maxLength) + "...";
                                        }
                                    }
                                }
                                @description
                            </div>
                            <div class="film-buttons">
                                <button class="film-buy-tickets"><a class="a-buy-tickets" asp-area="" asp-controller="Booking" asp-action="BookingView">Придбати квиток</a></button>
                                <div id="film-trailer-button" class="film-trailer-button activate-modal"
                                     data-movie-id="@movie.MovieId"
                                     data-title="@movie.Title"
                                     data-rating="@movie.Rating"
                                     data-categories="@string.Join(", ", movie.MovieGenres.Select(g => g.Genre.Title))"
                                     data-year="@movie.ReleaseDate.Year"
                                     data-duration="@($"{movie.Duration / 60}:{(movie.Duration % 60):D2}")"
                                     data-stars="@string.Join(", ", movie.MovieActors.Select(a => a.Actor.FirstName + ' ' + a.Actor.LastName))"
                                     data-description="@movie.Description">
                                    <p>Трейлер</p>
                                </div>
                            </div>
                        </div>
                </li>
            }
        </ul>
        <button type="button" class="slider-nav left-button"></button>
        <button type="button" class="slider-nav slider-nav-next right-button"></button>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <h1 class="slider-caption" style="margin-bottom: 70px;">
        <b>
            НА ОСНОВІ<span style="color:red; filter: drop-shadow(0px 0px 10px red);"> ВАШОЇ </span>ІСТОРІЇ ПЕРЕГЛЯДУ
        </b>
    </h1>
    <div class="slider-wrapper">
        <ul class="slider-items">
            <div id="moviesContainer">
                @foreach (var movie in Model.Movies.Take(2))
                {
                    <img class="reel-svg" src="~/img/reel_start.svg" alt="SVG Icon">
                <li class="slider-item movie" id="slider-item"
                    style="background-image: url('@("https://m.media-amazon.com/images/M/MV5BMTU2NjA1ODgzMF5BMl5BanBnXkFtZTgwMTM2MTI4MjE@._V1_.jpg")');">
                    <div class="slider-film-name">@movie.Title</div>
                    <div class="slider-film-slogan">
                            @foreach (var genre in movie.MovieGenres)
                            {
                            <span>@genre.Genre.Title</span>
                            }
                    </div>
                    <div class="slider-film-year">@movie.ReleaseDate.ToLocalTime().ToString("yyyy-MM-dd")</div>
                    <input type="button" class="slider-film-button" value="Трейлер">
                </li>



                    @*                             <h2>@movie.Title</h2>
        <p>@movie.Description</p>
        <p>Release Date: </p>
        <p>Duration: @movie.Duration</p>
        <p>Rating: @movie.Rating</p>
        <p>
        Genres:
        @if (movie.MovieGenres != null)
        {
        @foreach (var genre in movie.MovieGenres)
        {
        <span>@genre.Genre.Title</span>
        }
        }
        </p>
        <button type="button" class="btn btn-primary btn-sm float-end"
        onclick="showMovieDetails(@movie.MovieId)">
        More
        </button>*@
                }

                @* Зміни на закриваючий IMG *@
            <img class="reel-svg" src="./img/reel_start.svg" alt="SVG Icon">
        </div>
    </ul>
</div>
}


<h1>Слайдер високий рейтинг в жанрі</h1>
<div class="slider-wrapper">
    <ul class="slider-items">





        <div id="moviesContainer">
            @foreach (var movie in Model.Movies)
            {
                <img class="reel-svg" src="~/img/reel_start.svg" alt="SVG Icon">
            <li class="slider-item movie" id="slider-item"
                style="background-image: url('@("https://m.media-amazon.com/images/M/MV5BMTU2NjA1ODgzMF5BMl5BanBnXkFtZTgwMTM2MTI4MjE@._V1_.jpg")');">
                <div class="slider-film-name">@movie.Title</div>
                <div class="slider-film-slogan">
                        @foreach (var genre in movie.MovieGenres)
                        {
                        <span>@genre.Genre.Title</span>
                        }
                </div>
                <div class="slider-film-year">@movie.ReleaseDate.ToLocalTime().ToString("yyyy-MM-dd")</div>
                <input type="button" class="slider-film-button activate-modal" value="Трейлер">
            </li>


                @*                             <h2>@movie.Title</h2>
        <p>@movie.Description</p>
        <p>Release Date: </p>
        <p>Duration: @movie.Duration</p>
        <p>Rating: @movie.Rating</p>
        <p>
        Genres:
        @if (movie.MovieGenres != null)
        {
        @foreach (var genre in movie.MovieGenres)
        {
        <span>@genre.Genre.Title</span>
        }
        }
        </p>
        <button type="button" class="btn btn-primary btn-sm float-end"
        onclick="showMovieDetails(@movie.MovieId)">
        More
        </button>*@
            }

            @* Зміни на закриваючий IMG *@
        <img class="reel-svg" src="./img/reel_start.svg" alt="SVG Icon">

</div>



<div id="myModal" class="modal">
    <span id="btn_watch_close" class="close">&times;</span>
    <video id="videoPlayer" width="100%" height="65%" controls>
        <source src="~/img/trailer.mp4" type="video/mp4">
    </video>
    <div class="text-block container">
        <div class="modal-info-container d-flex">
            <div class="modal-film-info">
                <div class="film-name side-elem" id="modalTitle"></div>
                <div class="film-elem side-elem-1"><b>Жанр: </b><span id="modalCategories"></span></div>
                <div class="film-elem side-elem-1"><b>Дата виходу: </b><span id="modalYear"></span></div>
                <div class="film-elem side-elem-1"><b>Тривалість: </b><span id="modalDuration"></span></div>
                <div class="film-elem side-elem-1"><b>У головних ролях: </b><span id="modalStars"></span></div>
                <div class="film-elem side-elem-1">
                    <b>Опис: </b><span id="modalDescription"></span>
                </div>
            </div>
            <div class="modal-film-side">
                <div class="film-rating"><span id="modalRating"></span></div>
                <img src="~/img/poster-sm.png">
                <div class="btn-border">
                    <input type="button" class="film-buy-tickets film-buy-tickets-modal" value="Buy tickets">
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script src="./js/seach-button.js"></script>

<script src="~/js/swiper.js"></script>
<script src="~/js/slider.js"></script>
<script src="~/js/trailer-modal.js"></script>
<script src="~/js/swiper-mutation.js"></script>
