@model Cinema_Project.ViewModels.TicketVM
@using System.Security.Claims
@{
    var movie = ViewBag.Movie;
    var screenings = ViewBag.Screenings as List<Cinema_Project.Models.Screening>;
    var halls = new List<(int HallNumber, string HallName, string HallClass)>
    {
        (1, "Red", "hall-red"),
        (2, "Green", "hall-green"),
        (3, "Blue", "hall-blue")
    };
}

<link rel="stylesheet" href="~/css/header-style.css">
<link rel="stylesheet" href="~/css/booking-style.css">
<link rel="stylesheet" href="~/css/modal.css">
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

<div class="container booking-container">
    <div class="screen-container">
        <div class="screen-caption">ЕКРАН</div>
        <div class="screen-img"><img src="~/img/screen.png"></div>
        <div class="seat-container">
            @for (int i = 0; i < 10; i++)
            {
                <div class="seat-row">
                    @for (int j = 0; j < 15; j++)
                    {
                        <div class="seat"></div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="film-book-container">
        <div class="film-info-container">
            <li class="slider-item movie" id="slider-item"
                style="background-image: url('@Url.Content("~/img_posters/" + movie.Title.Replace(":","") + "/" + movie.Title.Replace(":","") + "_SP.jpg")');"></li>
            <div class="film-info">
                <div class="film-info-name">@movie.Title</div> <!-- Назва фільму -->
                <div class="film-data"><span>@($"{movie.Duration / 60}г {movie.Duration % 60}хв")</span> | <span class="film-info-rating">@movie.Rating</span></div>
                <div class="film-trailer-button activate-modal" data-title="@movie.Title">
                    <p>Трейлер</p>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="film-params-container">
            <div class="params-row">
                <div class="row-name">ДАТА</div>
                <div class="row-buttons">
                    @foreach (var screening in screenings.GroupBy(s => s.ScreeningDate.Date).Select(g => g.First()))
                    {
                        <div class="row-button date" data-date="@screening.ScreeningDate.ToString("yyyy-MM-dd")">@screening.ScreeningDate.ToString("dd.MM")</div>
                    }
                </div>
            </div>
            <div class="params-row">
                <div class="params-row">
                    <div class="row-name">ЧАС</div>
                </div>
                <div class="row-buttons">
                    @foreach (var screening in screenings)
                    {
                        <div class="row-button time" data-time="@screening.ScreeningDate.ToString("HH:mm")" data-price="@screening.Price">@screening.ScreeningDate.ToString("HH:mm")</div>
                    }
                </div>
            </div>
            <div class="params-row">
                <div class="params-row">
                    <div class="row-name">ЗАЛ</div>
                </div>
                <div class="row-buttons">
                    @foreach (var hall in halls)
                    {
                        <div class="row-button hall @hall.HallClass" data-hall="@hall.HallNumber">@hall.HallName</div>
                    }
                </div>
            </div>
        </div>
        <div class="single-seat-price">Ціна місця: @screenings.First().Price ₴</div> <!-- Ціна 1 місця-->
        <div class="line"></div>

        <div class="booked-seats" id="booked-seats"></div>
        <div class="total-price">Всього: 0₴</div> <!-- Загальна ціна -->
        <form id="ticketForm">
            <input type="hidden" name="Showtime" id="Showtime" />
            <input type="hidden" name="Price" id="Price" />
            <input type="hidden" name="HallNumber" id="HallNumber" />
            <input type="hidden" name="RowNumber" id="RowNumber" />
            <input type="hidden" name="SeatNumber" id="SeatNumber" />
            <input type="hidden" name="MovieId" id="MovieId" value="@movie.MovieId" />
            <input type="hidden" name="UserId" id="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />

            <input type="submit" value="Придбати квиток" class="buy-button">
        </form>
    </div>
</div>

<div id="overlay"></div>
<div id="myModal" class="modal">
    <span id="btn_watch_close" class="close">&times;</span>
    <div id="videoContainer" class="video-container">
        <iframe id="videoPlayer" width="100%" height="100%" src="" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="text-block container">
        <div class="modal-info-container d-flex">
            <div class="modal-film-info">
                <div class="film-name side-elem modal-film-caption" id="modalTitle"></div>
                <div class="film-elem side-elem"><b>Жанр: </b></div>
                <div class="film-elem side-elem"><b>Дата виходу: </b></div>
                <div class="film-elem side-elem"><b>Тривалість: </b></div>
                <div class="film-elem side-elem"><b>У головних ролях: </b></div>
                <div class="film-elem side-elem"><b>Опис: </b></div>
            </div>
            <div class="modal-film-side">
                <div class="film-rating"></div>
                <div class="film-elem">
                    <img id="modalImageTag" src="" alt="Alternate Text" />
                </div>
                <div class="btn-border">
                    <button class="film-buy-tickets">
                        <a class="a-buy-tickets" asp-area="" asp-controller="Booking" asp-action="BookingView">Придбати квиток</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/seach-button.js"></script>
<script src="~/js/trailer-modal.js"></script>
<script src="~/js/seat-numeration.js"></script>
<script src="~/js/seat-calc.js"></script>